.example-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.example-toolbar {
  background-color: #81c784; 
  color: white;
}

.example-sidenav-container {
  flex: 1;
  display: flex;
  min-height: 0; 
}

mat-sidenav {
  width: 220px;
  background-color: #e8f5e9; 
}
mat-nav-list {
  a {
    color: #c4e1c5; 
    font-weight: 500;

    &:hover {
      background-color: #78bb7b; 
    }
  }
}
mat-sidenav-content {
  flex: 1;
  padding: 16px;
  overflow: auto; 
  box-sizing: border-box;
}



@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }

  .example-sidenav-container {
    flex-direction: column;
  }

  mat-sidenav-content {
    padding: 8px;
  }
}
