.example-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.example-toolbar {
  background-color: #55883b;
  color: white;
  display: flex;
  align-items: center;
}

.example-app-name {
  margin-left: 8px;
  font-size: 20px;
}

.example-sidenav-container {
  flex: 1;
  display: flex;
  min-height: 0;
}

mat-sidenav {
  width: 220px;
  background-color: #e1f0d8;
  transition: width 0.3s ease;

  &.collapsed {
    width: 60px;

    mat-icon {
      margin: 0 auto;
    }

    a {
      justify-content: center;
    }

    span {
      display: none;
    }
  }
}

mat-nav-list a {
  display: flex !important;
  align-items: center;
  gap: 10px; 
  padding: 12px 16px;
  color: #2e7d32;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    background-color: #aed581;
  }

  mat-icon {
    font-size: 24px;
  }

  .nav-text {
    white-space: nowrap;
  }
}


mat-sidenav-content {
  flex: 1;
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
  background: #e6f0dc82;
}

::ng-deep .mdc-list-item__primary-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}

::ng-deep .mat-mdc-menu-panel {
  min-width: 112px;
  max-width: 300px !important;
   overflow: none !important;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  background-color: #e1f0d8 !important;
  border-radius: var(--mat-menu-container-shape);
  background-color: var(--mat-menu-container-color);
  will-change: transform, opacity;
  margin-top: 1rem;

}

::ng-deep .custom-menu .menu-header,
::ng-deep .custom-menu .menu-body,
::ng-deep .custom-menu .menu-footer {
  padding: 8px 16px;
}

::ng-deep .custom-menu .menu-header {
  font-weight: bold;
  font-size: 14px;
}

::ng-deep .custom-menu .menu-footer {
  text-align: center;
}
::ng-deep .mat-mdc-menu-content {
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  background-color: #e1f0d8;
  overflow: hidden !important;

}

::ng-deep .mat-mdc-menu-item:not([disabled]):hover {
   background-color: #aed581 !important; 
 
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }

  .example-sidenav-container {
    flex-direction: column;
  }

  mat-sidenav-content {
    padding: 8px;
  }
}
