.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

button.active {
    background-color: #d0f0c0;
    font-weight: bold;
  }
  
  ::ng-deep .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: white !important;
    background-color: #9a6735db !important;
    border-color: #9a6735db !important;
}

::ng-deep .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #0D2A16;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: black;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
     --mat-tab-header-active-label-text-color: green; 
    --mat-tab-header-active-ripple-color: green;
    --mat-tab-header-inactive-ripple-color: #9a6735db;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: green;
    --mat-tab-header-active-hover-label-text-color: green;
    --mat-tab-header-active-focus-indicator-color: #0D2A16;
    --mat-tab-header-active-hover-indicator-color: #9a6735db;
}
::ng-deep .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: green;
    outline: none !important;
    box-shadow: none !important;
}

::ng-deep .h6 {
    font-size: 24px;
    color: #2c3e50;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }