.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.inpt-txt{
    background-color: #e6f0dc82;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 2px solid #394238;
    border-radius: 14px;

    &hover {
       border-color: darkgreen;
    }
}