.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.card-title{
  color:white
}

input[readonly],
textarea[readonly] {
    background-color: #f5f5f5; /* light grey */
    color: #555;               /* dim text color */
    border-color: #ddd;        /* softer border */
}

::ng-deep .col-form-label {
    padding-top: calc(.375rem + var(--bs-border-width));
    padding-bottom: calc(.375rem + var(--bs-border-width));
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    
    white-space: nowrap !important;
}
@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 30.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-10 {
        flex: 0 0 auto;
        width: 69.333333%;
    }
}


