.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.card-title{
  color:white
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 30.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-10 {
        flex: 0 0 auto;
        width: 69.333333%;
    }
}
