<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">{{title}}</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <ng-container *ngFor="let item of breadcrumbItems">
            <li class="breadcrumb-item" [ngClass]="{'active': item.active == true}">{{ item.label }}
            </li>
          </ng-container>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header justify-content-between d-flex align-items-center" style="background-color: #9a6735db;">
        <h4 class="card-title">Daily Loan Monitoring</h4>
      </div><!-- end card header -->
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <ng-container *ngFor="let field of fieldConfigure">
              <div class="col-xl-6">
                <div class="mb-3 row" *ngIf="field.type === 'text'">
                  <label for="example-text-input" class="col-md-2 col-form-label">{{field.label}}<span
                      class="text-danger" *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" [formControlName]="field.formControl"
                      id="example-text-input"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This field is required.</small>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="mb-3 row" *ngIf="field.type === 'email'">
                  <label for="example-email-input" class="col-md-2 col-form-label">{{field.label}}<span
                      class="text-danger" *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="email" [formControlName]="field.formControl"
                      id="example-email-input"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This field is required.</small>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="mb-3 row" *ngIf="field.type === 'url'">
                  <label for="example-url-input" class="col-md-2 col-form-label">URL<span class="text-danger"
                      *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="url" [formControlName]="field.formControl" id="example-url-input"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This field is required.</small>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="mb-3 row" *ngIf="field.type === 'number'">
                  <label for="example-number-input" class="col-md-2 col-form-label">{{field.label}}<span
                      class="text-danger" *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" [formControlName]="field.formControl"
                      id="example-number-input"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This field is required.</small>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="mb-3 mb-lg-0 row" *ngIf="field.type === 'datetime-local'">
                  <label for="example-datetime-local-input" class="col-md-2 col-form-label">{{field.label}}<span
                      class="text-danger" *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="datetime-local" [formControlName]="field.formControl"
                      id="example-datetime-local-input"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This field is required.</small>
                    </div>
                  </div>
                </div><!-- end row -->
                <div class="mb-3 mb-lg-0 row" *ngIf="field.type === 'image'">
                  <label for="example-datetime-local-input" class="col-md-2 col-form-label">{{field.label}}<span
                      class="text-danger" *ngIf="field.mandatory">*</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="file" id="imageInput" (change)="onFileChange($event)"
                      accept="image/*"
                      [ngClass]="{'is-invalid': form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid}">
                    <!-- Error Message -->
                    <div class="text-danger mt-1"
                      *ngIf="form.get(field.formControl)?.touched && form.get(field.formControl)?.invalid">
                      <small *ngIf="form.get(field.formControl)?.errors?.['required']">This file is required.</small>
                    </div>
                     <div class="mt-2" *ngIf="base64Image">
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        (click)="togglePreview()"
      >
        👁️ View
      </button>
    </div>
                  </div>
                </div><!-- end row -->
              </div><!-- end col -->
            </ng-container>
          </div><!-- end row -->
        </form>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary w-md" (click)="onSubmit()">Submit</button>
        </div>
      </div><!-- end card body -->
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->

<!-- Image Preview Modal -->
<div
  class="modal fade show"
  tabindex="-1"
  *ngIf="showImageModal"
  style="display: block; background: rgba(0,0,0,0.5);"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image Preview</h5>
        <button type="button" class="btn-close" (click)="togglePreview()"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="base64Image" alt="Full Preview" class="img-fluid rounded" />
      </div>
    </div>
  </div>
</div>
